
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 50px;">
                <a href="/index/home" class="portfolio-box">
                    <img src="../img/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name text-faded">
                                선물용 라이크딸기
                            </div>
                            <div class="project-category">
                                주문하기
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/purchase/strawberry" class="btn btn-default btn-xl " style="font-size: 15px; font-family: 'Nanum Pen Script'; position: absolute; top: 40px; left: 113px;">
                    선물용<span style="color: #f05f40;"> 라이크 딸기 </span> 주문하기
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="/purchase/strawberry">
                    <img src="../img/portfolio/button.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="#" class="portfolio-box">
                    <img src="../img/portfolio/2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name text-faded">
                                휴대용 라이크딸기
                            </div>
                            <div class="project-category">
                                (준비중)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="#">
                    <img src="../img/portfolio/button2.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</  section>